<!--
355/BASBusinessPortfolio/app/views/home.html
This is the home page for the BAS Business Portfolio application.

@authors Noah Lanctot, Mehak Saini, Braedon Billingsley, Will Castillo
-->

<!DOCTYPE html>
<html lang="en">

<!--Header-->
<include href="app/views/header.html"></include>

<body>

<!--Home Page-->
<div class="container mt-5">

    <!--Title and Description-->
    <div class="home-intro">
        <h1 class="home-title">Welcome to the BAS Business Portfolio Website</h1>
        <p class="home-description">A usability focused online platform that empowers BAS Business Students at GRC to create customizable resumes, portfolios, and access career resources, all in one place. </p>
    </div>

</div>
</body>

<!--Footer-->
<include href="app/views/footer.html"></include>
</html>